In [99]:
import wandb
from wandb.apis.public import Api
import pandas as pd
import json
from tqdm import tqdm

In [100]:
sweep = Api().sweep("marcocassar-belmont-university/dl_experimentation-vae_train/sweeps/mho772yy")

In [101]:
run_info = []
run_history = []

for run in tqdm(sweep.runs, desc="Processing runs", leave=False):
    run_info.append({
        **{k: v.get("value") for k, v in json.loads(run.config).items() if k != "_wandb"},
        "name": run.name,
        "id": run.id
    })

    historical_list = []
    for row in run.scan_history():
        if row.get('val_mae') is not None:
            historical_list.append(row)

    run_history.append(historical_list)

In [102]:
from itertools import chain

df = pd.DataFrame(chain.from_iterable(
    ({**info, **h} for h in hist) for info, hist in zip(run_info, run_history)
))

In [109]:
names = [
    'glowing-sweep-110',
    'earthy-sweep-151',
    'dainty-sweep-158',
    'stoic-sweep-74',
    'silver-sweep-152',
    'young-sweep-114'
]

df_filtered = df[(df['name'].isin(names)) & (df['epoch'] == 25)]

In [117]:
df_filtered[['id', 'name', 'ema', 'epochs', 'groups', 'use_bn', 'dropout', 'use_skips',
       'activation', 'batch_size', 'beta_final', 'latent_dim', 'model_class',
       'total_params', 'weight_decay', 'base_channels', 'learning_rate',
       'warmup_epochs', 'blocks_per_level']].to_json('filtered.json', orient='records', indent=2)

In [105]:
df.to_csv("sweep_validation_data.csv", index=False)

In [83]:
history_ = run1.history()

In [85]:
history_[history_['val_mae'].notna()]

,train_loss_ema,val_mae,reconstructions,step,kl_loss,val_kl_loss,val_loss,val_mse,val_psnr,_timestamp,...,val_recon_loss,epoch,_step,mu_mean,mu_std,beta*kl,beta,val_correlation,recon_loss,train_loss
39,NaN,55.555211,None,NaN,NaN,2.207841,1.270278,20.834136,15.761083,1.760152e+09,...,0.141800,2.0,471,0.058157,1.130187,NaN,NaN,0.843620,NaN,NaN
58,NaN,52.275953,None,NaN,NaN,2.093837,1.745504,20.475784,15.837057,1.760152e+09,...,0.140191,3.0,707,-0.007232,1.128706,NaN,NaN,0.850897,NaN,NaN

In [20]:
for row in run1.scan_history():
    row1 = row
    break

In [88]:
historical_list = []
for row in run1.scan_history():
    if row['val_mae'] is not None:
        historical_list.append(row)

In [82]:
test_df = pd.DataFrame(historical_list)

In [86]:
test_df[test_df['val_mae'].notna()]

,train_loss_ema,val_mae,reconstructions,step,kl_loss,val_kl_loss,val_loss,val_mse,val_psnr,_timestamp,...,val_recon_loss,epoch,_step,mu_mean,mu_std,beta*kl,beta,val_correlation,recon_loss,train_loss
235,NaN,70.066091,None,NaN,NaN,2.267438,0.755010,30.127592,14.157145,1.760152e+09,...,0.175540,1.0,235,0.148888,1.151067,NaN,NaN,0.775410,NaN,NaN
471,NaN,55.555211,None,NaN,NaN,2.207841,1.270278,20.834136,15.761083,1.760152e+09,...,0.141800,2.0,471,0.058157,1.130187,NaN,NaN,0.843620,NaN,NaN
707,NaN,52.275953,None,NaN,NaN,2.093837,1.745504,20.475784,15.837057,1.760152e+09,...,0.140191,3.0,707,-0.007232,1.128706,NaN,NaN,0.850897,NaN,NaN
943,NaN,49.912699,None,NaN,NaN,1.974694,2.154842,19.315018,16.090101,1.760152e+09,...,0.136218,4.0,943,0.020604,1.117171,NaN,NaN,0.857652,NaN,NaN
1179,NaN,48.780382,None,NaN,NaN,1.836701,2.478707,18.155261,16.360765,1.760152e+09,...,0.131755,5.0,1179,0.023022,1.087443,NaN,NaN,0.866300,NaN,NaN
1416,NaN,49.398270,None,NaN,NaN,1.735265,2.794250,18.645159,16.245834,1.760152e+09,...,0.133447,6.0,1416,-0.008932,1.082174,NaN,NaN,0.862228,NaN,NaN
1652,NaN,48.778059,None,NaN,NaN,1.714474,3.199992,18.463170,16.287341,1.760152e+09,...,0.132917,7.0,1652,-0.054514,1.096736,NaN,NaN,0.863391,NaN,NaN
1888,NaN,49.082003,None,NaN,NaN,1.649483,3.504416,18.228821,16.342879,1.760152e+09,...,0.132060,8.0,1888,-0.027003,1.036582,NaN,NaN,0.865744,NaN,NaN
2124,NaN,49.578079,None,NaN,NaN,1.579041,3.764728,18.442839,16.293451,1.760152e+09,...,0.132849,9.0,2124,-0.006410,1.032861,NaN,NaN,0.864122,NaN,NaN
2360,NaN,51.105715,None,NaN,NaN,1.477711,3.914309,19.761712,15.990408,1.760152e+09,...,0.137847,10.0,2360,-0.050965,1.040408,NaN,NaN,0.853190,NaN,NaN
2597,NaN,50.352834,None,NaN,NaN,1.486848,3.933330,18.598029,16.257456,1.760152e+09,...,0.133518,11.0,2597,0.002488,1.042683,NaN,NaN,0.862253,NaN,NaN
2833,NaN,50.496280,None,NaN,NaN,1.522318,4.026705,19.347133,16.083781,1.760152e+09,...,0.136244,12.0,2833,-0.032553,1.060894,NaN,NaN,0.856617,NaN,NaN
3069,NaN,48.994771,None,NaN,NaN,1.514138,4.005021,19.200193,16.117041,1.760152e+09,...,0.135465,13.0,3069,-0.001713,1.050326,NaN,NaN,0.858187,NaN,NaN
3305,NaN,47.762013,None,NaN,NaN,1.555069,4.103995,17.663894,16.481827,1.760152e+09,...,0.129836,14.0,3305,0.012953,1.036321,NaN,NaN,0.870180,NaN,NaN
3541,NaN,49.393814,None,NaN,NaN,1.498438,3.962288,18.477005,16.284028,1.760152e+09,...,0.132855,15.0,3541,-0.048536,1.036798,NaN,NaN,0.863466,NaN,NaN
3778,NaN,48.428906,None,NaN,NaN,1.502536,3.973126,18.541160,16.269841,1.760152e+09,...,0.133222,16.0,3778,-0.040193,1.035190,NaN,NaN,0.864760,NaN,NaN
4014,NaN,48.062800,None,NaN,NaN,1.504295,3.975892,18.118384,16.370790,1.760152e+09,...,0.131492,17.0,4014,-0.029852,1.029210,NaN,NaN,0.865485,NaN,NaN
4250,NaN,47.561696,None,NaN,NaN,1.568610,4.139739,17.961489,16.407758,1.760152e+09,...,0.130973,18.0,4250,-0.002143,1.048100,NaN,NaN,0.868172,NaN,NaN
4486,NaN,47.766390,None,NaN,NaN,1.530652,4.042032,17.791496,16.449601,1.760152e+09,...,0.130274,19.0,4486,0.006122,1.023721,NaN,NaN,0.869709,NaN,NaN
4722,NaN,47.636001,None,NaN,NaN,1.480476,3.915509,18.241410,16.340150,1.760152e+09,...,0.131981,20.0,4722,-0.006546,1.033763,NaN,NaN,0.865334,NaN,NaN
4959,NaN,46.678155,None,NaN,NaN,1.518514,4.009552,17.434711,16.538620,1.760152e+09,...,0.128815,21.0,4959,0.000351,1.028107,NaN,NaN,0.871751,NaN,NaN
5195,NaN,47.301375,None,NaN,NaN,1.528610,4.035457,17.423578,16.541357,1.760152e+09,...,0.128919,22.0,5195,-0.007836,1.027304,NaN,NaN,0.871995,NaN,NaN
5431,NaN,47.416354,None,NaN,NaN,1.546429,4.081034,17.450423,16.533784,1.760152e+09,...,0.128955,23.0,5431,-0.019865,1.015679,NaN,NaN,0.872353,NaN,NaN
5667,NaN,46.695301,None,NaN,NaN,1.541990,4.069876,17.525604,16.514878,1.760152e+09,...,0.129142,24.0,5667,-0.018595,1.032702,NaN,NaN,0.870504,NaN,NaN
5903,NaN,46.700582,None,NaN,NaN,1.526113,4.030113,17.691399,16.473682,1.760152e+09,...,0.129954,25.0,5903,-0.000113,1.020857,NaN,NaN,0.871551,NaN,NaN

In [28]:
artifacts = []
for art in run1.logged_artifacts():
    artifacts.append(art)

In [22]:
def callable_attrs(obj, include_dunder=False):
    names = []
    for name in dir(obj):
        if not include_dunder and name.startswith("__"):
            continue
        val = getattr(obj, name, None)   # <- default avoids crashing
        if callable(val):
            names.append(name)
    return names

callable_attrs(run1)  # returns only methods you can actually call

wandb: WARNING Run.username is deprecated. Please use Run.entity instead.

['_exec',
 '_full_history',
 '_load_from_attrs',
 '_load_with_fragment',
 '_repr_html_',
 '_sampled_history',
 'create',
 'delete',
 'display',
 'file',
 'files',
 'history',
 'load',
 'load_full_data',
 'log_artifact',
 'logged_artifacts',
 'save',
 'scan_history',
 'snake_to_camel',
 'to_html',
 'update',
 'upload_file',
 'use_artifact',
 'used_artifacts',
 'wait_until_finished']